In [47]:
import pandas as pd
import scipy.stats as stats

In [48]:
rd=pd.read_csv("car_datasets.csv")

In [49]:
rd.head(3)

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500

In [50]:
df=rd.loc[:, ~rd.columns.str.contains("^Unnamed")]

In [51]:
df.head(3)

,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500

In [52]:
df["price"].is_unique

False

In [53]:
df_price_group=df[["make", "price"]] #select 2 columns

In [54]:
df_price_group.head(3)

          make  price
0  alfa-romero  13495
1  alfa-romero  16500
2  alfa-romero  16500

In [55]:
grouped_by_makers=df_price_group.groupby(["make"])

In [56]:
grouped_by_makers

In [60]:
#f_oneway is the built method of scipy package(library) gives f-test-score and pvalue

In [58]:
stats.f_oneway(grouped_by_makers.get_group("honda")["price"], grouped_by_makers.get_group("subaru")["price"])

F_onewayResult(statistic=0.19744030127462606, pvalue=0.6609478240622193)

In [61]:
#above result f-test-value is small so we can say weak corellation between honda and subaru

In [62]:
stats.f_oneway(grouped_by_makers.get_group("honda")["price"], grouped_by_makers.get_group("jaguar")["price"])

F_onewayResult(statistic=400.925870564337, pvalue=1.0586193512077862e-11)

In [63]:
#here f-test value is 400.9 means correlation is strong between honda and jagguar