In [1]:
import pandas as pd

In [2]:
c={"Car":["A", "B", "C", "D"], "Fuel":["gas", "diesel", "gas", "gas"]}

In [3]:
c

{'Car': ['A', 'B', 'C', 'D'], 'Fuel': ['gas', 'diesel', 'gas', 'gas']}

In [4]:
df=pd.DataFrame(c)

In [5]:
df

  Car    Fuel
0   A     gas
1   B  diesel
2   C     gas
3   D     gas

In [10]:
d=pd.get_dummies(df["Fuel"])

In [11]:
d

   diesel  gas
0       0    1
1       1    0
2       0    1
3       0    1