In [1]:
import pandas as pd

In [2]:
d1={"Country":["United Kingdom", "Canada", "United States", "Germany", "Russia", "Belgium"],
    "weather":["10", "12", "13", "15", 16, "20"]
   }

In [3]:
df=pd.DataFrame(d1)

In [5]:
df

          Country weather
0  United Kingdom      10
1          Canada      12
2   United States      13
3         Germany      15
4          Russia      16
5         Belgium      20

In [6]:
df.dtypes

Country    object
weather    object
dtype: object

In [7]:
df["weather"].dtype

dtype('O')

In [8]:
# convert into integer data type

In [18]:
df["weather"]=df["weather"].astype("int")

In [19]:
df["weather"].dtype

dtype('int64')

In [20]:
df

          Country  weather
0  United Kingdom       10
1          Canada       12
2   United States       13
3         Germany       15
4          Russia       16
5         Belgium       20

In [21]:
# now convert into float data type

In [22]:
df["weather"]=df["weather"].astype("float")

In [23]:
df["weather"].dtype

dtype('float64')

In [24]:
df

          Country  weather
0  United Kingdom     10.0
1          Canada     12.0
2   United States     13.0
3         Germany     15.0
4          Russia     16.0
5         Belgium     20.0

In [25]:
# want to multiply weather by 2

In [26]:
df["weather"]=1.36*df["weather"]

In [28]:
#rename weather to 1.36*weather

In [29]:
df.rename(columns={"weather":"1.36*weather"})

          Country  1.36*weather
0  United Kingdom         13.60
1          Canada         16.32
2   United States         17.68
3         Germany         20.40
4          Russia         21.76
5         Belgium         27.20